
footer{
    margin-bottom: 20px;
}

footer ul{
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.softvirus{
    color: #6c59e2;
    font-weight: bold;
}