//General

.btn-info{
    background-color: #231d70 !important;
    color: white !important;
    border: none !important;
}

.btn-info:hover{
    background-color: #4d36dc !important;
}

.text-section {
    width: 680px;
    z-index: 3;
}

.text-section h5 {
    font-size: 25px;
    color: #5e49df;
}

.text-section h2 {
    font-size: 60px;
    color: #311852;
}

.text-section p {
    font-size: 18px;
}

.socials a{
    color: #4d36dc;
    border: 1px solid gray;
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;
    z-index: 5;
}

.socials a:hover{
    background-color: #ff7a1f;
    color: white;
}



//Section Smarts

.smart-man {
    top: -180px;
    left: 0;
    z-index: 2;
}

.smart-4 {
    bottom: 60px;
    right: 170px;
    z-index: 2;
}

.bg-card1{
    background-image: -webkit-linear-gradient(90deg, rgba(255, 122, 31, 0.10196) 0%, rgba(1, 5, 48, 0) 100%);
}
.bg-card1:hover{
    background-image: -webkit-linear-gradient(90deg, rgba(1, 5, 48, 0) 0%, rgba(255, 122, 31, 0.10196) 100%);
}

.bg-card2{
    border-color: rgb(178, 181, 210);
    background-image: -webkit-linear-gradient(90deg, rgba(77, 54, 220, 0.10196) 0%, rgba(1, 5, 48, 0) 100%);
    box-shadow: 0px 8px 18px 0px rgb(246 243 255 / 61%);
}
.bg-card2:hover{
    background-image: -webkit-linear-gradient(90deg, rgba(1, 5, 48, 0) 0%, rgba(77, 54, 220, 0.10196) 100%);
}

.bg-card3{
    border-color: rgb(178, 181, 210);
    background-image: -webkit-linear-gradient(90deg, rgba(255, 0, 15, 0.10196) 0%, rgba(1, 5, 48, 0) 100%);
    box-shadow: 0px 8px 18px 0px rgb(246 243 255 / 61%);
}

.bg-card3:hover{
    background-image: -webkit-linear-gradient(90deg, rgba(1, 5, 48, 0) 0%, rgba(255, 0, 15, 0.10196) 100%);
}

#smart {
    height: 900px;
    margin-top: 300px;
}

.card {
    height: 360px;
    width: 270px;
    border-radius: 40px !important;
}

.card h1 {
    font-size: 30px;
}

.card p {
    font-size: 18px;
}

.card img {
    width: 80px;
    height: 80px;
}


//Section Counters

#counter{
    margin-bottom: 100px;
}

.count {
    background-image: url(assets/img/preloader.png);
    height: 500px;
    width: 100%;
    z-index: 3;
}

.globe-count{
    position: absolute;
    top: 5%;
    left: 38%;
    z-index: 1;
}

.globe-count img{
    width: 450px;
}

.card-count{
    text-align: center;
    border: 1px solid white;
    padding: 40px 0;
    width: 230px;
    border-radius: 20px;
}

.card-count h1{
    font-weight: bold;
    font-size: 50px;
}

.card-count h5{
    font-size: 18px;
    color: #ff7a1f;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.content h1{
    font-size: 50px;
}

.shape-b {
    bottom: 0;
    z-index: 2;
}

//Section Works

#works{
    margin-bottom: 150px;
}

.cards-work img{
    width: 600px;
}

.btn-work{
    border: 1px solid gray;
    text-decoration: none;
    color: black;
}


//Section Process


#process{
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.process-thumb{
    position: absolute;
    top: 0;
    left: -15%;
}

.card-process{
    height: 300px;
    width: 270px;
    border-radius: 20px !important;
    display: none !important;
}

.active-card{
    display: block !important;
}

.bg-processimg{
    background-color: #fff5f0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.bg-processimg img{
    transform: translateY(50%);
}

.index-process{
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #f7f0ff;
    width: 40px;
    border-radius: 0  0 30px 30px;
}

.btn-process div{
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
}

.btn-process div:hover{
    background-color: #ff7a1f;
    color: white;
}

.btn-process div i{
    padding: 15px;
    font-size: 15px;
}

.rocket{
    position: absolute;
    bottom: -100px;
    right: 5%;
}

//Section Teams

#team{
    margin-bottom: 150px;
}

.cards-team{
    margin-top: 5.5rem;
}

.card-team{
    width: 280px;
    height: 250px;
    background-color: #fff5f0;
    border-radius: 20px;
}

.team-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: -50px;
}
.team-img img{
    width: 75%;
}

.team-info{
    margin-top: -30px;
}

.btn-team{
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
}
.btn-team:hover{
    background-color: #ff7a1f;
    color: white;
}

.btn-team i{
    padding: 15px;
    font-size: 15px;
}

.dot-team{
    color: gray;
    font-size: 13px;
}
.dot-team .active{
    color: #ff9a55;
}

.shape2{
    top: 0;
    right: 0;
}

//Section Why

#why{
    margin-bottom: 150px;
}

.active-sponsor{
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

//Section Blog

#blog{
    margin-bottom: 150px;
}

.text-blog{
    width: 650px;
    text-align: center;
}

.text-blog h5{
    color: #ff9a55;
    font-size: 25px;
}

.text-blog h2{
    font-size: 60px;
}

.text-blog p{
    font-size: 18px;
}

.text-input{
    width: 600px;
    height: 60px;
    border-radius: 30px;
    padding: 0 20px;
}

.text-submit{
    position: absolute;
    right: 40px;
    top: 10px;
    background-color: #ffdfed;
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: bold;
}

//Animated counters 

@property --num1 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --num2 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --num3 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  @property --num4 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .card-count #n1 {
    counter-reset: num1 var(--num1);
    font-weight: bold;
    animation: animate 2s forwards ease;
  }
  
  .card-count #n1:before {
    content: counter(num1);
  }

  .card-count #n2 {
    counter-reset:  num2 var(--num2);
    font-weight: bold;
    animation: animate 2s forwards ease;
  }
  
  .card-count #n2:before {
    content: counter(num2);
  }
  .card-count #n3 {
    counter-reset:  num3 var(--num3);
    font-weight: bold;
    animation: animate 2s forwards ease;
  }
  
  .card-count #n3:before {
    content: counter(num3);
  }
  .card-count #n4 {
    counter-reset: num4 var(--num4);
    font-weight: bold;
    animation: animate 2s forwards ease;
  }
  
  .card-count #n4:before {
    content: counter(num4);
  }
  
  @keyframes animate {
    to {
      --num1: 700;
      --num2: 250;
      --num3: 25;
      --num4: 12;
    }
  }